@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width:8px;
    background: #bbbaba;
	box-shadow:1px 1px 1px rgb(243, 243, 243)
}
::-webkit-scrollbar-thumb{
	background:rgb(0, 0, 0);
		 /* border-radius: 10px;  */
    background: -webkit-linear-gradient(transparent,rgb(51, 51, 51));
    background: linear-gradient(transparent,rgb(128, 127, 127));
    border-radius: 20px;
}